.header {
    text-align: center;
    background: #9B0014;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding: 0.4rem 0;
}
.footer {
    text-align: center;
    background: #9B0014;
    background-size: cover;
    padding: 0.5rem 0;
    color: white;
}
.footer-row {
    padding-bottom: 0px !important;
}
.footer a {
    color: white;
    text-decoration: underline;
}
.header .headline {
    color: #ffe; 
}
.header-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%; 
}

.header li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    color: #ffe;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out; 
}

.header li a.is-active {
    background: rgba(250, 250, 250, 0.15); 
}
.header li a:hover {
    background: rgba(250, 250, 250, 0.15);
    transition: all 0.35s ease-in-out; 
}

.events-div{
    background-color: #ffe3d9;
    border-radius: 3px;
    padding: 10px;
}

.news-div{
    background-color: #ffda97;
    border-radius: 3px;
    padding: 10px;
}

.top-page {
    padding: 10px 15px 0;;
    margin-bottom: -10px;
}

.top-page .row {
    padding-bottom: 0;
}

img.pan {
    margin-right: 1.1rem;
    margin-left: -0.1rem;
}

img.logo {
    margin: 0 auto;
    padding: 0;
    height: 125px;
}

img.profile_image {
height: 160px;
width: 120px;
}

body {
    background-color: #dbdbdb;
    font-family: 'Trebuchet MS', sans-serif;
    color: #333;
    font-size: 0.9em;
}

.row {
    background-color: white;
    padding-bottom: 2em;
}

.icon_button {
    width: 200px
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.project_img {
    margin: 5px;
    height: 80px
}

.team_img {
    margin:5px;
    height: 150px
}
.small-logo {
    margin-top: 10px;
}

.social-icon {
    font-size: 3em;
    color: #9B0014;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.7rem !important;
    border-bottom: 1px dashed #9B0014 !important;
    margin-bottom: 0.7rem !important;
    color: #9B0014 !important;
}

.red-bullet {
    list-style: none;
    padding: 0;
    margin: 0;
}

.red-bullet li {
    padding-left: 1em; 
    text-indent: -.7em;
    margin-bottom: 1em;
}

.red-bullet li::before {
    content: "*";
    color: #9B0014;
    padding-right:7px;
}

.publications ul {
    list-style-type: none;
}
.publication {
    margin-bottom: 3em;
}

.gallery_img {
    /*max-width: 400px !important;*/
    width: 460px;
    height: 320px
}

.thumbrow {
    padding: 0px 30px;
}

.red {
    color: #9b0014;
}

